{#
|--------------+-----------------------------|
| variables    | default values              |
|--------------+-----------------------------|
| viewBox      | "0 0 100 100"               |
| width        | "100mm"                     |
| height       | "100mm"                     |
| title        | "Title missing"             |
| date         | "2021-01-01"                |
| creator      | ""                          |
| rights       | "All rights reserved"       |
| keywords     | []                          |
| description  | "Description missing"       |
| contributors |                             |
| publisher    | ""                          |
|--------------+-----------------------------|

|--------|
| blocks |
|--------|
| style  |
| defs   |
| main   |
|--------|
-#}
<svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    viewBox="{{ viewBox|default("0 0 100 100", true) }}"
    width="{{ width|default("100mm", true) }}" height="{{ height|default("100mm", true) }}"
>
  <title>{{ title|default("Title missing", true) }}</title>
  <metadata>
    <rdf:RDF>
      <cc:Work rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title>{{ title|default("Title missing", true) }}</dc:title>
        <dc:date>{{ date|default("2021-01-01", true) }}</dc:date>
        <dc:creator>
          <cc:Agent>
            <dc:title>{{ creator|default("", true) }}</dc:title>
          </cc:Agent>
        </dc:creator>
        <dc:rights>
          <cc:Agent>
            <dc:title>{{ rights|default("All rights reserved", true) }}</dc:title>
          </cc:Agent>
        </dc:rights>
        <dc:subject>
          <rdf:Bag>
            {%- for keyword in keywords|default([], true) %}
              <rdf:li>keyword</rdf:li>
            {%- endfor %}
          </rdf:Bag>
        </dc:subject>
        <dc:description>{{ description|default("Description missing", true) }}</dc:description>
        {%- if contributors is defined %}
        <dc:contributor>
          <cc:Agent>
            <dc:title>{{ contributors }}</dc:title>
          </cc:Agent>
        </dc:contributor>
        {%- endif %}
        <dc:publisher>
          <cc:Agent>
            <dc:title>{{ publisher|default("", true) }}</dc:title>
          </cc:Agent>
        </dc:publisher>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <defs>
    <style>
      {%- block style %}
      {%- endblock %}
    </style>
    {%- block defs %}
    {%- endblock %}
  </defs>
  {%- block main %}
  {%- endblock %}
</svg>
